/* Cards */
[class*="Shop"] [class*="categoryWrapper"] [class*="cardsContainer"] {
    width: 105%;
    margin-left: -2.5%;
}

/* Name */
[class*="Shop"] [class*="productName"] {
    display: block;
    text-align: center;
}

/* Price */
[class*="Shop"] [class*="priceTag"] {
    display: block;
    text-align: center;
    scale: 150%;
    margin-left: 5px;
}

[class*="Shop"] [class*="priceTag"]:has([class*="striked"]) {
    display: block;
    text-align: center;
    scale: 150%;
    margin-left: 10px;
}

[class*="Shop"] [class*="dimmed"] {
    display: none;
}

/* Buttons */
[class*="Shop"] [class*="button"] [class*="content"] {
    scale: 120%;
}

[class*="Shop"] [class*="button"] {
    border-radius: 15px;
}

/* Modals */

/* Effect Preview */
[class*="root"] [class*="profileEffectContainer"] {
    scale: 1.5;
    height: 50px;
    margin-right: 20px;
}

/* Deco Preview */
[class*="root"] [class*="giftPreview"] [class*="avatarDecoration"] {
    scale: 1.5;
    height: 50px;
    margin-right: 20px;
}

/* Already Owned Error */
[class*="root"] [class*="recipientError"] {
    scale: 1.5;
    margin-left: -45px;
}

/* buttons */
[class*="collectibleInfoContainer"] [class*="button"] {
    border-radius: 15px;
}

[class*="collectibleInfoContainer"] [class*="button"] [class*="content"] {
    scale: 120%;
}

/* Price */

[class*="collectibleInfoContainer"] [aria-label="Nitro exclusive"] {
    display: none;
}

[class*="collectibleInfoContainer"] [class*="priceTagC"] {
    scale: 1.5;
    margin-right: 270px;
}

[class*="collectibleInfoContainer"] [class*="dimmed"] {
    display: none;
}

[class*="cardBackground"] {
    opacity: 30%;
}

[id*="shop-item"] {
	border: none;
}
